[Unit]
Description=Vena's Radio Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/Venas-Radio
ExecStart=/bin/bash -c "source /root/.nvm/nvm.sh && yarn run start"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target